.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 20px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}
.favorites__list {
    margin-bottom: 24px;
}
.favorities_div{
    width: 90%;
    padding: 2%;
    background-color: #496DDB;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    align-items: center;
}
.removebtn{
    width: 7%;
    height: 20px;
    background-color: #FFEEDB;
    border-radius: 100%;
    color: black;
    border: none;
}

.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}
.removeall{
    width: 30%;
    height: 30px;
    background-color:#FFEEDB;
    border: none;
    color: black;
}
